{% extends "base.html" %}

{% block title %}GitCommitted Homepage{% endblock %}

{% block CSS %}
    <style>
		#logo {
			font-size: 48px;
		}

	</style>
{% endblock %}

{% block content %}

  	<div class="container-fluid" id="header">
    	<p>Are you ready to <span id="logo">GitCommited</span>?</p>
  	</div>
  	<div class="container-fluid" id="description">
    	<p><strong>GitCommited</strong> provides a simple way to get you to <i>finally</i> stick with your coding goals by charging you real moulah everytime you fail to meet your commitment. Whether you've been wanting to code more frequently or consistently, made a new year's resolution to work on that side project, or practice a new technology, there's no better motivation that losing money.</p>
  	</div>

{% endblock %}

